#parse("/view/layout.vm")
#@mainLayout()

<link rel="stylesheet" href="/css/reviewFormStylesheet.css">
<link href="/plugins/rateit/rateit.css" rel="stylesheet" type="text/css">
<script src="/plugins/rateit/jquery.rateit.js"></script>



	#set( $reviewItem = "The Lion King" )

<!-- Back button to go back to show page -->
<div  id="backButtonContainer" >
	<a href="/show/$show.showID" type="submit" id="backButton">Back</a>
</div>

	<!-- Prevent user submitting 0 star rating -->
<script>
	$(document).ready(function() {

		$("#ratingErrorMsg").hide();
		$("#form").submit(function(e){
			if($("#backing1").val() == 0) {
				e.preventDefault();
				$("#ratingErrorMsg").show();
			}
		});
	});
</script>

<!-- All review form content will be in here -->
<div id="contentBox">


	<!-- This div is where title, film image etc will reside -->
	<div id="titleArea">

		<img src="$show.imagePath" alt="$show.showTitle poster" id="titleAreaImage">
		<h3 id="titleAreaHeading"> Reviewing $show.showTitle ($show.year) </h3>

	</div>


	<!-- The actual form will be in this section -->
	<div id="formArea">
		<div id="yourReview"><p>Your Review</p></div>

		<form id="form" method="post">

			#if ($emptyFieldError)
				<div class="formGroup">
					<p id="emptyFieldError">Empty fields are not permitted. Please fill in the fields properly.</p>
				</div>
			#end

			<div class="formGroup">
				<label for="review">Review:</label>
				<textarea id="review" name="review" placeholder="Write a review here" required></textarea>
			</div>

			<div class="formGroup ratingGroup">
				<label for="rating">Rating:</label>

				<!-- rateit jquery plugin by Gidon Junge: https://github.com/gjunge/rateit.js -->
				<input type="range" min="0" max="5" step="1" value="0" id="backing1" name="rating">
				<div class="rateit" data-rateit-backingfld="#backing1"  data-rateit-resetable="false"  data-rateit-mode="font"  style="font-size:50px" ></div>

			</div>

			<!-- error message to display if no star rating is selected -->
			<p id="ratingErrorMsg">Please select a star rating.</p>

			#if(($userType=="critic" ||$userType == "pco"))
				<div class="formGroup">
					<label for="review">External Link:</label>
					<input type="text" id="review" placeholder="Add an external link to an off-site review here" required name="link">
				</div>
			#end

			<div class="formGroup">
				<input type="submit" class="submit" value="Submit">
			</div>
		</form>
	</div>



</div>


#end